button {
  padding: 1rem 2rem;
  border-radius: 10px;
  border: none;
  background-color: var(--gray-color);

  font-weight: 500;
  color: var(--white-color);
  outline: none;
  margin: 2rem 0 0 0;
  font-family: var(--font-base);

  transition: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  cursor: pointer;

  &:hover {
    background-color: var(--secondary-color);
  }
}
