button {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: none;
  background-color: var(--secondary-color);

  font-weight: 600;
  font-size: medium;
  color: var(--white-color);
  outline: none;
  margin: 2rem 0 0 0;
  font-family: var(--font-base);

  transition: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    transition: transform ease 0.2s;
  }
}
