.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  border: 1px solid #d5dae3;
  padding: 1rem;
  margin: 1rem;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 0 25px -5px rgb(0 0 0 / 15%);
  background-color: var(--white-color);
}
.card-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  h3 {
    color: var(--secondary-color);
    padding: 0.5rem;
    font-size: 15px;
    text-align: center;
  }
  p {
    padding: 0.5rem;
    font-size: 15px;
    text-align: center;
  }
}
.card-room {
  font-weight: 600;
}
.card-image {
  width: 6rem;
  height: 5rem;
  img {
    width: 100%;
    height: 100%;
  }
}
