.app {
  background-color: rgb(195 221 225 / 20%);
  font-family: var(--font-base);
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  .app-page-content__container {
    flex: 1;
  }
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page__container {
  padding: 1rem 2rem;
  flex: 1;
}

.p-text {
  font-size: 0.8rem;
  text-align: left;
  color: var(--gray-color);
  line-height: 1.5;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}

.router-link {
  text-decoration: none;
  color: var(--primary-color);
  cursor: default;
  margin: 1rem 1rem;
}
.page-border {
  border: 1px solid #d5dae3;
  border-radius: 5px;
  box-shadow: 0 0 25px -5px rgb(0 0 0 / 15%);
}
.add-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
hr {
  border: var(--solid-border);
  margin-top: 2rem;
}
